<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user, label_method: :email %>
    <%= f.association :project, label_method: :project_name %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :date %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
