<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>



    <div class= "field"> <%= f.input :created_on %> </div>
    <div class= "field"> <%= f.input :project_name %> </div>
    <div class= "field"> <%= f.input :project_description %> </div>
    <div class= "field"> <%= f.association :user, label_method: :email%> </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
