<p id="notice"><%= notice %></p>

<p>
  <strong>Created on:</strong>
  <%= @project.created_on %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @project.project_name %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @project.project_description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.email %>
</p>
<% @project.tasks.each do | task | %>
<h3><%= task.title %></h3>
<%= task.description %>
<%= task.date %>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
