<p>
  <strong>Created on:</strong>
  <%= @project.created_on %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @project.project_name %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @project.project_description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.email %>
</p>

<p>
  <strong> Tasks:</strong>
</p>
<% @project.tasks.each do | task | %>
<p>
  <em><%= task.title %></em><br/>
  <%= task.description %><br/>
  <%= task.date %>
</p>
<% end %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
